/* You can add global styles to this file, and also import other style files */
/*--home-component---*/
.homebutton{
  height: 40px;
  width: 40px;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pointer-cursor{
  cursor: pointer;
}

/*--register-page--*/
#registerFormOffers{
  padding: 0;
  border: none;
}

#registerFormActivities{
  padding: 0;
  border: none;
}

#registerFormSex{
  padding: 0;
  border: none;
}

#registerFormCity {
  padding: 0;
  border: none;
}


/*--matchlist--*/
.accepted-match-cards:hover {
  background-color: #FBF9B4;
}

.unaccepted-match-cards:hover {
  background-color: #95D9FB;
}

 /*--search--*/
 #searchFormOffer{
  padding: 0;
  border: none;
}

#searchFormCity {
  padding: 0;
  border: none;
}

#searchFormActivities {
  padding: 0;
  border: none;
}

#searchFormSex {
  padding: 0;
  border: none;
}

/*---footer---*/
.absolute-bottom{
  position: absolute;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
}

/*---app.component---*/
.container-wrap{
padding-bottom: 3.5rem;
}

.footer-wrap{
  position: relative;
  min-height: 85vh;
}
