/* You can add global styles to this file, and also import other style files */
/*--home-component---*/
.homebutton{
  height: 40px;
  width: 40px;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pointer-cursor{
  cursor: pointer;
}

/*--matchlist--*/
.accepted-match-cards:hover {
  background-color: #FBF9B4;
}

.unaccepted-match-cards:hover {
  background-color: #95D9FB;
}
