<!-- show all users who are saved in the Array of 'users'-->
<div *ngFor="let user of users">
  <div>Firstname: <b>{{ user.firstname }}</b>
  </div>

  <div>
    Lastname: <b>{{ user.lastname }}</b>
  </div>

  <div>Mail:  <b>{{ user.mail }}</b>
  </div>
  <hr>
</div>

<form class="border" [formGroup]="editForm" (ngSubmit)="editFormSave('SkcGljXTpsua8zq5aS9F')">
  <label>Firstname:</label>
  <input type="text" id="editFormFirstname" formControlName="editFormFirstname">

  <label>Lastname:</label>
  <input type="text" id="editFormLastname" formControlName="editFormLastname">

  <label>Mail:</label>
  <input type="text" id="editFormMail" formControlName="editFormMail">

  <button type="button" type="submit">Änderunge speichern</button>
</form>
