<h1>Matchrequests</h1>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <!-- show all matchRequests which are saved in the Array of 'matchRequests'-->
    <div *ngFor="let match of matchRequests">
      <div class="row">
        <div class="col-9">
          <div>Username: <b>{{ match.initiatorID }}</b></div>
        </div>
        <div class="col-3 border">
          <button type="button" class="btn btn-info mr-1" (click)="acceptMatch()">Annehmen</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteMatch()">Ablehnen</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="col-1"></div>
</div>
