<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-12">
    <ng-container *ngIf="chatroom$ | async as chat">
      <ng-container *ngIf=" authService.user$ | async as user">

        <div #chatBox class="card shadow mb-2">
          <div class="card-body">
            <div *ngFor="let message of chat.messages; trackBy: trackByCreated"><!-- TODO trackBy seems not working.-->
              <div *ngIf="message.user?.uid !== authService.currentUserID; else positionRight" class="card col-10 col-md-8 shadow-sm" role="alert" aria-live="assertive" aria-atomic="true"
                data-autohide="false">


                <div class="toast-header border-info">
                  <strong class="mr-auto">{{ 'chatroomItem.currentUser' | translate }}</strong>
                  <small class="text-muted">{{ message.createdAt | date: 'dd.MM.yyyy' }}</small>
                </div>
                <div class="toast-body small">
                  {{ message.content }}
                </div>
              </div><!--ngif message.user.uid !== currentUserID-->
              <ng-template #positionRight>
                <div class="card col-10 offset-2 col-md-8 offset-md-4 shadow-sm" role="alert" aria-live="assertive" aria-atomic="true"
                data-autohide="false">


                <div class="toast-header border-warning">
                  <strong class="mr-auto">{{ 'chatroomItem.currentUser' | translate }}</strong>
                  <small class="text-muted">{{ message.createdAt | date: 'dd.MM.yyyy' }}</small>
                </div>
                <div class="toast-body small">
                  {{ message.content }}
                </div>
              </div>
              </ng-template>
            </div>
          </div>


        <form>
          <div class="form-row mb-3 mx-3">

            <div class="col-md-8 offset-md-4">
              <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="newMessage" name="messageInput" maxlength="100"
                  (keydown.enter)="submit(chat.id)" placeholder="{{ 'chatroomItem.inputPlaceholder' | translate }}">
                <div class="input-group-append ml-2">
                    <button class="btn btn-outline-warning" type="button" (click)="submit(chat.id)"
                    [disabled]="!newMessage">
                    <fa-icon [icon]="faReply"></fa-icon>
                  </button>
                </div>
              </div>

            </div>

          </div>
        </form>
      </div>

      </ng-container>
    </ng-container>
  </div>
  <div class="col-1"></div>
</div>
