#registerFormOffers{
  padding: 0;
  border: none;
}

#registerFormActivities{
  padding: 0;
  border: none;
}

#registerFormSex{
  padding: 0;
  border: none;
}

#registerFormCity {
  padding: 0;
  border: none;
}
