<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card-deck">
      <div class="card m-4 text-center py-2 shadow-sm">
        <h4 class="card-title font-weight-light">{{ 'impressum.team' | translate }}</h4>
        <hr class="my-1 border-warning">
        Constantin Beer
        <br />Eric Odschuk
        <br />Luis Ramer
        <br />Arne Schacher
        <br />Pascal Vonholdt<br />
      </div>

      <div class="card m-4 text-center py-2 shadow-sm">
        <h4 class="card-title font-weight-light">{{ 'impressum.contact' | translate }}</h4>
        <hr class="my-1 border-warning">
        <a href="mailto:tandem.hwr@gmail.com">tandem.hwr@gmail.com</a>
        HWR Berlin
        <br />6. Semester {{ 'impressum.study' | translate }}
        <br />Alt-Friedrichsfelde 60
        <br />10315 Berlin
      </div>

    </div>
    <div class="col-1"></div>
  </div>
