<h1 class="text-center font-weight-light mb-3 mt-4">{{ 'home.openMatchrequests' | translate }}</h1>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div *ngIf="unAcceptedMatchesLength, else elseBlock">
      <!-- show all matchRequests which are saved in the Array of 'matchRequests'-->
      <div *ngFor="let match of unAcceptedMatches$ | paginate: { itemsPerPage: 5, currentPage: pageNumber }">
        <div class="card shadow my-3">
          <h5 class="card-header bg-white border-warning font-italic">
            {{ 'home.requestTitle' | translate}} {{ parseOfferForFrontend(match.matchedOffer) }}
          </h5>
          <div class="card-body accepted-match-cards">
            <div class="card-text">
              <div class="row">
                <div class="col-8 col-md-10">
                  <a class="pointer-cursor" (click)="openModal(match)">
                    <p class="my-0"><small>{{ match.firstname }} {{ match.lastname }}</small></p>
                    <!-- <p class="my-0"><small>Age: {{calculateAgeForModal(match.dateOfBirth)}}</small></p> -->
                    <p class="my-0"><small>Aktivitäten: {{activitiesForModal(parseActivitiesForFrontend(match.activities))}}</small></p>
                  </a>
                </div>
                <div class="col-4 col-md-2 d-flex justify-content-end my-auto">
                  <button type="button" class="btn btn-success mr-2 homebutton" (click)="acceptMatch(match.matchId);loadingButton($event);">
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-outline-danger homebutton" (click)="declineMatch(match.matchId);loadingButton($event);">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ngFor-->

      <!--controls for pagination, which are only visible at the length of matchRequest-array bigger than 5-->
      <pagination-controls autoHide="true" class="pagination justify-content-center" (pageChange)="pageNumber = $event"
        previousLabel="{{'home.previous' | translate }}" nextLabel="{{'home.next' | translate }}"></pagination-controls>
    </div>
    <!--ngIf-->

    <!-- if there are no matchrequests-->
    <ng-template #elseBlock>
      <p class="text-center">{{ 'home.noRequests' | translate}}</p>
    </ng-template>
  </div>
  <div class="col-1"></div>
</div>


<div class="modal-backdrop fade in" [ngStyle]="{'display':display}"></div>
<div *ngIf="modalIsOpen" class="modal" [ngStyle]="{'display': display}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'modals.details' | translate}} {{firstname}}</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-light">
          <tbody>
            <tr>
              <th class="font-weight-normal" scope="row">{{ 'modals.details' | translate}}:</th>
              <td>{{firstname}}</td>
            </tr>
            <tr>
              <th class="font-weight-normal" scope="row">{{ 'register.lastname' | translate}}:</th>
              <td>{{lastname}}</td>
            </tr>
            <tr>
              <th class="font-weight-normal" scope="row">{{ 'modals.age' | translate}}:</th>
              <td>{{age}}</td>
            </tr>
            <tr>
              <th class="font-weight-normal" scope="row">Geschlecht:</th>
              <td>{{matchSex}}</td>
            </tr>
            <tr>
              <th class="font-weight-normal" scope="row">{{ 'search.city' | translate}}:</th>
              <td>{{city}}</td>
            </tr>
            <tr>
              <th class="font-weight-normal" scope="row">Interessen:</th>
              <td>{{matchActivities}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success mr-2" (click)="acceptMatch(matchId);loadingButton($event);">
          {{ 'modals.accept' | translate}}
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="declineMatch(matchId);loadingButton($event);">
          {{ 'modals.decline' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
