<div class="row">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
      <div class="card m-4 text-center">

      <h5 class="card-title">Über uns:</h5>

      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>"Eine Investition in Wissen bringt immer noch die besten Zinsen."</p>
          <footer class="blockquote-footer">Benjamin Fanklin</footer>
        </blockquote>
      </div>

      Wir möchten dir diese Investition so einfach wie möglich machen und bieten dir deshalb eine Plattform,
      mit dieser du jeder Zeit dein eigenes Wissen mit anderen teilen und auch neues erlangen kannst.

      Das Tandem Team besteht aus Studenten des 6. Semester an der HWR Berlin.
<br/>
<br/>
      <img src="../../../assets/images/Team-Foto.jpg" class="card-img-top" alt="..." >
      <div class="card-body">
        <p class="card-text">Hier das Team von links nach rechts Arne, Eric, Pascal, Joe und Louis</p>
      </div>

      </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
