<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-12 col-md-10">
    <div class="card m-4 text-center shadow-sm">

      <h1 class="card-title font-weight-light mt-2">{{ 'about.heading' | translate }}</h1>
      <hr class="my-1 border-warning">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ 'about.blockquote' | translate }}</p>
          <footer class="blockquote-footer">Benjamin Fanklin</footer>
        </blockquote>

        <br />
        <div class="card-text">
          {{ 'about.explanation' | translate }}
          <p><strong>{{ 'about.uniProject' | translate }}</strong></p>
        </div>

      </div>


      <br />
      <img src="../../../assets/images/Team-Foto.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'about.imageExplanation' | translate }}<br />
          Arne, Eric, Pascal, Joe und Luis</p>
      </div>

    </div>
  </div>
  <div class="col-1"></div>
</div>
