<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card shadow my-3" *ngFor="let chatroom of userChatsAsUserA$">
      <div class="card-body py-2 accepted-match-cards">
        <div class="row">
          <div class="col-10">
            <a [routerLink]="chatroom.id">
              <span class="text-decoration-none text-dark">{{ chatroom.firstname }} {{ chatroom.lastname }}</span>
              <hr class="border-warning border-bottom mt-0 mb-1">
              <p class="text-muted mb-0">{{ chatroom.messages.length }} {{'chatroomList.messages' | translate }}</p>
            </a>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-outline-danger homebutton" (click)="openModal(chatroom.id, 'userChatsAsUserA$')"
            data-toggle="tooltip" data-placement="top" title="{{ 'chatroomList.deleteTooltip' | translate }}">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow my-3" *ngFor="let chatroom of userChatsAsUserB$">
      <div class="card-body py-2 accepted-match-cards">
        <div class="row">
          <div class="col-10">
            <a [routerLink]="chatroom.id">
              <span class="text-decoration-none text-dark">{{ chatroom.firstname }} {{ chatroom.lastname }}</span>
              <hr class="border-warning border-bottom mt-0 mb-1">
              <p class="text-muted mb-0">{{ chatroom.messages.length }} {{'chatroomList.messages' | translate }}</p>
            </a>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-outline-danger homebutton" (click)="openModal(chatroom.id, 'userChatsAsUserB$')"
            data-toggle="tooltip" data-placement="top" title="{{ 'chatroomList.deleteTooltip' | translate }}">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-1"></div>
</div>

<!-- Modal -->
<div class="modal-backdrop fade in" [ngStyle]="{'display':display}"></div>
<div *ngIf="modalIsOpen" class="modal" [ngStyle]="{'display': display}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'chatroomList.deleteModalHeader' | translate }}</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ 'chatroomList.deleteModalQuestion' | translate}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" (click)="deleteChatroom()">{{ 'chatroomList.deleteButton' | translate }}</button>
          <button type="button" class="btn btn-warning" (click)="closeModal()">{{ 'register.quitButton' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

