<header>
  <!--when the bug of new logging in is solved, we can use the following line
  <nav *ngIf="router.url !== '/login'" class="navbar navbar-light navbar-expand-lg shadow">-->

  <nav class="navbar fixed-top navbar-light navbar-expand-lg shadow">
    <!--toggle only visible for screens smaller than lg-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">
        <img src="../../../assets/images/navbarLogo.png" width="40" height="40" class="d-inline-block align-top" alt="Tandem Logo">
      </a>

      <!--navbar links-->
      <div class="collapse navbar-collapse" id="navbarLinks">
        <!--left aligned links-->
        <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">{{ 'navbar.homeLink' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']" [routerLinkActive]="['active']">{{ 'navbar.profileLink' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/search']" [routerLinkActive]="['active']">{{ 'navbar.searchLink' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/matches']" [routerLinkActive]="['active']">{{ 'navbar.matchesLink' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/chats']" [routerLinkActive]="['active']">{{ 'navbar.chatLink' | translate }}</a>
          </li>
        </ul>

        <!-- right aligned links-->
        <ul class="navbar-nav ml-auto">
          <!--dropdown menu-->
          <li class="nav-item dropdown">
            <!--showing english or german language, via checking whether english language was clicked or not -->
            <a *ngIf="showEnglish; else elseBlock" class="nav-link dropdown-toggle pointer-cursor border-right" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              En
            </a>
            <!--German language-->
            <ng-template #elseBlock>
                <a class="dropdown-toggle nav-link pointer-cursor border-right" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    De
                </a>
            </ng-template>
            <!--dropdown links-->
            <div class="dropdown-menu">
              <a class="dropdown-item pointer-cursor" (click)="switchLanguage('de')">De</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item pointer-cursor" (click)="switchLanguage('en')" >En</a>
            </div>
          </li>

          <!--username-->
          <span *ngIf="isLoggedIn()" class="navbar-text font-italic mx-lg-2">
            Username
          </span>

          <!--Logout-->
          <li *ngIf="isLoggedIn()" class="nav-item border-left">
            <a class="nav-link pointer-cursor" (click)="logout()">{{ 'navbar.logout' | translate }}</a>
          </li>
          <!--Login-->
          <li *ngIf="!isLoggedIn() " class="nav-item border-left">
            <a class="nav-link" [routerLink]="['/login']">{{ 'navbar.login' | translate }}</a>
          </li>
        </ul>
      </div>
  </nav>
</header>
